@font-face{
    font-family:'fairy';
    src: url('Unicorn Calligraphy - TTF.ttf') format('truetype');
}
body{
    font-family: 'fairy';
    padding: 0;
    margin: 0;
    
}
div{
    background-image: url(backgrounds/my-little-pony-the-movie-6001x3376-spike-rainbow-dash-twilight-7874.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:top;
    width:100%;
    height: 700px;
    box-sizing: border-box;
    margin: 0;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: 50px;
}
button{
    width: 100px;
    height:40px;
    border-radius: 20%;
}