@font-face{
    font-family:'fairy';
    src: url('Unicorn Calligraphy - TTF.ttf') format('truetype');
}
body{
    //background: black;
   //color:white;
    box-sizing: border-box;
    background-image: url(backgrounds/group_background__6___orchard_sunset_by_mlp_vector_collabs-d5er8tl.png);
}
#lab {
    position: relative;
}
.wrapper{
    //border:2px solid red;
    margin:auto;
    padding:20px;
    width:90%;
    height :auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
header{
    //border:2px dotted blue;
    display:flex;
    flex-direction:column;
    align-items: center;
    margin:auto;
    
}
#main{
    //border:2px red dotted;
    height:auto;
    display: flex;
    flex-direction: row;
    align-items:center;
    margin:auto;
}
section{
 border:2px solid black;
height:auto;
  display:flex;
  margin:auto;
}
section .col{
  height:auto;
  width:auto;
  //border:2px dotted red;
}
section .row{
  //border:2px blue solid;
  background:black;
  width:70px;
  height:50px;
}
.path{
  background: url(backgrounds/birkdale-40mm-artifical-grass-1.png)!important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    
}
.hFences{
  height:2px;
  width:100%;
}
.vFences{
  width:2px;
  height:90%;
}
button{
  width:50px;
  height:50px;
}
#scareMe{
    display: none;
}
#tryAgain{
    display: none;
}
.booh{
    position:absolute;
    z-index: 100;
    background-image: url(images/images/full.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width:1400px;
    height:1000px;
    box-sizing: border-box;
    top:0;
    bottom: 0;
    left:0;
    right:0;
    display: block!important;
}
.reset{
    border:2px solid yellow;
    position:absolute;
    z-index: 1000;
    width:60%;
    height:60%;
    top:20%;
    left:20%;
    background: #960d0d;
    box-sizing: border-box;
    margin:auto;
    display: flex!important;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color:white;
}
.reset div{
    display: flex;
    width:150px;
    justify-content: space-between;
}
#victory{
    display: none;
}
#victory div{
    display: flex;
    width:150px;
    justify-content: space-between;
}
.victory{
    border:2px solid yellow;
    position:absolute;
    z-index: 1000;
    width:60%;
    height:60%;
    top:20%;
    left:20%;
    background: #960d0d;
    box-sizing: border-box;
    margin:auto;
    display: flex!important;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color:white;
}
#drag{
    background: url(images/vector_all_the_ponies__svg_files__by_90sigma-d502dze.png);
    background-position: center;
    background-size:30px 30px;
    width:30px;
    height:30px;
    position:absolute;
    transform: translate3D(-50%, -50%, 0);
    pointer-events: none;
}

/*timer*/

.timer{
  border:2px solid;
  width:80%;
  height:30px;
  margin:auto;
  overflow:hidden;
}
.load{
  border:none;
  width:0px;
  height:100%;
  float:left;
  background:red;
}