body{
    //background: black;
   //color:white;
    box-sizing: border-box;
}
.wrapper{
    border:2px solid red;
    margin:auto;
    padding:20px;
    width:80%;
    //height :auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
header{
    border:2px dotted blue;
    display:flex;
    flex-direction:column;
    align-items: center;
    
}
#main{
    border:2px red dotted;
    height:auto;
    display: flex;
    flex-direction: column;
    align-items:center;
}
section{
  width:800px;
  border:2px solid black;
    height:auto;
  display:flex;
  margin:auto;
}
section .col{
  height:300px;
  width:150px;
  border:2px dotted red;
}
section .row{
  border:2px blue solid;
  background:red;
  width:100%;
  height:30px;
}
.path{
  background-color:blue !important;
    cursor : url(images/vector_all_the_ponies__svg_files__by_90sigma-d502dze.png), auto;
}
.hFences{
  height:2px;
  width:100%;
}
.vFences{
  width:2px;
  height:90%;
}
button{
  width:50px;
  height:50px;
}
#scareMe{
    display: none;
}
#tryAgain{
    display: none;
}
.booh{
    position:absolute;
    z-index: 100;
    background: black;
    width:100%;
    height:100%;
    box-sizing: border-box;
    top:0;
    bottom: 0;
    left:0;
    right:0;
    display: block!important;
}
.reset{
    border:2px solid yellow;
    position:absolute;
    z-index: 1000;
    width:60%;
    height:60%;
    top:20%;
    left:20%;
    background: #960d0d;
    box-sizing: border-box;
    margin:auto;
    display: flex!important;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color:white;
}
.reset div{
    display: flex;
    width:150px;
    justify-content: space-between;
}
#victory{
    display: none;
}
#victory div{
    display: flex;
    width:150px;
    justify-content: space-between;
}
.victory{
    border:2px solid yellow;
    position:absolute;
    z-index: 1000;
    width:60%;
    height:60%;
    top:20%;
    left:20%;
    background: #960d0d;
    box-sizing: border-box;
    margin:auto;
    display: flex!important;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color:white;
}
#drag{
    background: url(images/vector_all_the_ponies__svg_files__by_90sigma-d502dze.png);
    background-position: center;
    background-size:30px 30px;
    
    width:30px;
    height:30px;
    position:absolute;
}